<div header></div>

<div class="centered-section-account">
    <tabset vertical="true">
        <tab heading="Profile">
            <div class="account__sections account__sections--settings" ui-view="profile"></div>
        </tab>
        <tab heading="Preferences">
            <div class="account__sections account__sections--settings" ui-view="preferences"></div>
        </tab>
        <tab heading="Billing">
            <div class="account__sections account__sections--settings" ui-view="billing"></div>
        </tab>
    </tabset>
</div>

<div footer></div>