<!--Reminder form-->
<div ng-show="! isDeleting" class="reminder-form-container">

    <div class="reminder-form-container__form">
        <div class="reminder-form-container__form__question">
            Don't you need to remember to <strong>{{reminder.model.text}}</strong> on
            <strong>{{reminder.model.dueOn | friendlyDate}}</strong> anymore?
        </div>
        <div class="reminder-form-container__form__recommend">
            Keep calm and don't delete it!
        </div>
        <br />
        <a href="#" class="btn-outline reminder-form-container__form__delete" ng-click="deleteReminderAndClose(reminder)">Don't need it anymore</a>
    </div>

</div>

<!--While saving-->
<div class="reminder--saving" ng-show="isDeleting">Deleting reminder..</div>