<!--Reminder form-->
<div ng-show="! isSaving" class="reminder-modal">
    <form class="reminder-modal__form" name="reminderForm" ng-submit="saveReminder(reminderForm)" novalidate
          focus-first-error>

        <!--Reminder text-->
        <div class="form-group" ng-class="{'has-error': reminderForm.text.$invalid && reminderForm.$submitted}">
            <label>Remind me to:</label>
            <input class="form-control form-control--reminder" type="text" placeholder="e.g. {{randomExample}}"
                   name="text" maxlength="140" ng-model="reminder.model.text" nlp-date date="reminder.model.dueOn"
                   separator="@" min-date="2014-01-01" max-date="2018-01-01" prefer="future" auto-focus="isOpen" required />
        </div>

        <div class="reminder-modal__form__info">
            <!--Reminder date picker-->
            <div class="reminder-modal__form__info--date">
                <button type="button" class="btn btn--reminder-popup" datepicker-popup ng-model="reminder.model.dueOn"
                        show-weeks="false" datepicker-options="{starting_day:1}" animate animate-on="nlpDate:dateChange"
                        animate-class="animated highlight-button">
                    {{reminder.model.dueOn | friendlyDate}}
                </button>
            </div>

            <!--Reminder time picker-->
            <div class="reminder-modal__form__info--time" timepicker-popup dropdown ng-model="reminder.model.dueOn" step="30"></div>
        </div>

        <!--Reminder addresses-->
        <div class="reminder-modal__form__addressees">

            <div email-list ng-model="reminder.model.recipients" max-emails="6" parent-form="reminderForm"></div>
        </div>

        <!--Submit form button-->
        <button type="submit" class="btn btn--create-reminder">{{isNew ? "Create reminder" : "Update
            reminder"}}
        </button>

    </form>
</div>

<!--While saving-->
<div class="reminder--saving" ng-show="isSaving">{{isNew ? "Saving reminder" : "Updating reminder"}}</div>