.alert, .alert--absolute {
  position: absolute;
  max-width: 500px;
  left: 0;
  right: 0;
  top: 50px;
  margin: 5px auto 5px;
  padding: 5px;
  text-align: center;
  z-index: 9999999;
}

.alert-success {
  @include alert-variant($alert-success-bg, $alert-success-border, $alert-success-text);
}

.alert-error {
  @include alert-variant($alert-danger-bg, $alert-danger-border, $alert-danger-text);
}