//
// Buttons
// --------------------------------------------------

// Base styles
// --------------------------------------------------

// Core styles
// --------------------------------------------------
.btn-complement {
  background-color: $brand-complement;
  color: $white;

  &:hover {
    background-color: lighten($brand-complement, 5%);
    color: $white;
  }
}

.btn-outline {
  text-align: center;
  line-height: 100%;
  display: block;
  border: solid 2px $brand-primary;
  border-radius: 3px;
  width: 200px;
  height: 40px;
  padding: 10px;
  color: $brand-primary;
  @include transition(all 0.4s);

  &:hover {
    color: invert($text-color-base);
    background-color: $brand-primary;
  }
}

// Remove outline from buttons
// --------------------------------------------------
.btn {
  &:focus {
    outline: none;
  }
}

@mixin button-outline($color, $background, $border) {
  color: $color;
  background-color: transparent;
  border: solid 2px $border;
  border-radius: $border-radius-small;

  &:hover,
  &:focus,
  &:active,
  &.active {
    color: invert($text-color-base);
    background-color: $background;
  }
  &:active,
  &.active {
    background-image: none;
  }
}
