//
// Scaffolding
// --------------------------------------------------

// Links

a {
  color: $link-color;
  text-decoration: none;
  //font-size: 14px;
  @include transition(all 0.2s);

  &:hover,
  &:focus {
    text-decoration: none;
    color: $link-hover-color;
  }

  &:active,
  &:focus {
    outline: none;
  }
}

.link-text {
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}