<!DOCTYPE html>
<html ng-app="app" ng-controller="AppCtrl" prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="utf-8" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Create email reminders in seconds with Reme!" />
    <meta property="og:description" content="The sole purpose of Reme is to remind you the things that matter. Check it out at www.reme.io." />
    <meta property="og:image" content="http://reme.io/build/assets/img/logo.png" />
    <meta property="og:url" content="http://reme.io" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <link rel="apple-touch-icon" sizes="57x57" href="http://reme.io/build/assets/img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="http://reme.io/build/assets/img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="http://reme.io/build/assets/img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="http://reme.io/build/assets/img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="http://reme.io/build/assets/img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="http://reme.io/build/assets/img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="http://reme.io/build/assets/img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="http://reme.io/build/assets/img/favicons/apple-touch-icon-152x152.png">
    <link rel="icon" type="image/png" href="http://romaniaone.org/Content/favicons/apple-touch-icon-196x196.png" sizes="196x196">
    <!-- build:template
    <% if (environment === 'prod') { %>
    <link rel="stylesheet" href="/build/css/app.min.css" />
    <script src="/build/js/frameworks.min.js"></script>
    <script src="/build/js/app.min.js"></script>
    <% } else { %>
    <link rel="stylesheet" href="/build/css/app.css" />
    <script src="/build/js/frameworks.js"></script>
    <script src="/build/js/app.js"></script>
    <% } %>
    /build -->
    <title ng-bind="$state.current.title" class="ng-binding">Create email reminders in seconds - Reme</title>

    <!-- Mixpanel -->
    <script type="text/javascript">(function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");
        for ( g = 0; g < i.length; g++ )f(c, i[g]);
        b._i.push([a, e, d])
    };
        b.__SV = 1.2;
        a = f.createElement("script");
        a.type = "text/javascript";
        a.async = !0;
        a.src = "//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";
        e = f.getElementsByTagName("script")[0];
        e.parentNode.insertBefore(a, e)
    }
    })(document, window.mixpanel || []);
    </script>

</head>
    <body>
    <!-- Mixpanel initializer -->
    <div mixpanel-initializer></div>

    <!-- View container -->
    <div class="view-container" ui-view autoscroll="true"></div>

    <!-- Loading bar -->
    <div class="loading-bar" loading-bar></div>
</body>
</html>