<!-- Account sections -->
<div class="account__sections" account-form-toggle>
    <!--Sign in-->
    <div class="account__section" ng-if="AccountFormToggle.state === ACCOUNT_FORM_STATE.login" ng-controller="LoginCtrl">

        <!-- Title -->
        <h1 class="account__title">Welcome!</h1>

        <!-- Login form -->
        <form name="loginForm" ng-submit="login(loginData)" novalidate>

            <!-- Account controls -->
            <div class="account__controls">

                <!-- General error -->
                <div class="alert alert-danger" ng-if="isAuthenticationErrorOcurred">Your email or password are wrong. Please try again.</div>

                <!-- Form groups -->
                <div class="account__controls__form-groups--last">

                    <!-- Form group -->
                    <div class="form-group" ng-class="{'has-error': isAuthenticationErrorOcurred || ( loginForm.email.$invalid && ( loginForm.email.$touched || loginForm.$submitted ) )}">
                        <input class="form-control" type="email" placeholder="email" name="email" ng-model="loginData.email" required />
                        <div class="help-block" ng-if="loginForm.email.$touched || loginForm.$submitted">
                            <div ng-if="loginForm.email.$error.required">Your email address is mandatory.</div>
                        </div>
                    </div>

                    <!-- Form group -->
                    <div class="form-group" ng-class="{'has-error': isAuthenticationErrorOcurred || ( loginForm.password.$invalid && ( loginForm.password.$touched || loginForm.$submitted ) )}">
                        <input class="form-control" type="password" placeholder="password" name="password" ng-model="loginData.password" required />
                        <div class="help-block" ng-if="loginForm.password.$touched || loginForm.$submitted">
                            <div ng-if="loginForm.password.$error.required">Your password is mandatory.</div>
                        </div>
                    </div>
                </div>

                <!-- Reset password -->
                <div class="form-group">
                    <a class="link-secondary" href="#" ng-click="AccountFormToggle.setState(ACCOUNT_FORM_STATE.forgotPassword)">Forgot login details?</a>
                </div>

                <!-- Button container -->
                <button class="btn account__button" type="submit">Sign in</button>
            </div>
        </form>

        <a class="link-primary" href="#" ng-click="AccountFormToggle.setState(ACCOUNT_FORM_STATE.signUp)">Don't have an account yet? Sign up!</a>

    </div>

    <!--Sign up-->
    <div class="account__section" ng-if="AccountFormToggle.state == ACCOUNT_FORM_STATE.signUp" ng-controller="SignUpCtrl">

        <!-- Title -->
        <h1 class="account__title">Get started!</h1>

        <!-- Sign-up form -->
        <form name="signUpForm" ng-submit="signUp(signUpData)" novalidate focus-first-error-on-submit>

            <!-- Account controls -->
            <div class="account__controls">

               <!-- General error -->
                <div class="alert alert-danger" ng-if="isSignUpErrorOcurred">
                     <span ng-repeat="errorMessage in errorMessages">{{errorMessage}}</span>
                </div>

                <!-- Form groups -->
                <div class="form-group" ng-class="{'has-error': signUpForm.firstName.$invalid && signUpForm.$submitted}">
                    <input class="form-control" type="text" placeholder="First Name" name="firstName" ng-model="signUpData.firstName" required />
                    <span class="help-block" ng-if="signUpForm.firstName.$invalid && signUpForm.$submitted">Please tell us your First Name.</span>
                </div>

                <!-- Form group -->
                <div class="form-group" ng-class="{'has-error': signUpForm.lastName.$invalid && signUpForm.$submitted}">
                    <input class="form-control" type="text" placeholder="Last Name" name="lastName" ng-model="signUpData.lastName" required />
                    <span class="help-block" ng-if="signUpForm.lastName.$invalid && signUpForm.$submitted">Please tell us your Last Name.</span>
                </div>

                <!-- Form groups -->
                <div class=" account__controls__form-groups--last">

                    <!-- Form group -->
                    <div class="form-group" ng-class="{'has-error': signUpForm.email.$invalid && signUpForm.$submitted}">
                        <input class="form-control" type="email" placeholder="Your email address" name="email" ng-model="signUpData.email" ng-model-options="{ debounce: 800 }" required valid-email unique-email />
                        <div class="help-block" ng-messages="signUpForm.email.$error" ng-if="signUpForm.email.$touched || signUpForm.$submitted">
                            <div ng-message="required">Your email address is mandatory.</div>
                            <div ng-message="validEmail">This email address is not valid.</div>
                            <div ng-message="uniqueEmail">This email address is already used.</div>
                        </div>
                        <div class="help-block" ng-if="signUpForm.email.$pending">
                            Checking availability...
                        </div>
                    </div>

                    <!-- Form group -->
                    <div class="form-group" ng-class="{'has-error': signUpForm.password.$invalid && signUpForm.$submitted}">
                        <input class="form-control" type="password" placeholder="Choose a password" name="password" ng-model="signUpData.password" required strong-password />
                        <div class="help-block" ng-messages="signUpForm.password.$error" ng-if="signUpForm.password.$touched || signUpForm.$submitted">
                             <div ng-message="required">Please choose a password.</div>
                             <div ng-message="strongPassword">Your password needs to be at least 7 characters long.</div>
                         </div>
                    </div>
                </div>

                <!-- Button container -->
                <button class="btn account__button" type="submit">Create new account</button>
            </div>
        </form>

         <a href="#" ng-click="AccountFormToggle.setState(ACCOUNT_FORM_STATE.login)">Already have an account? Sign in here!</a>

    </div>

    <!-- Recover password section -->
    <div class="account__section" ng-if="AccountFormToggle.state == ACCOUNT_FORM_STATE.forgotPassword" ng-controller="ForgotPasswordCtrl">

        <!-- Title -->
        <h1 class="account__title">Can't remember your password?</h1>

        <!-- Explain -->
        <span class="account__explain">
            Enter below the e-mail you use to log in. <br />
            We'll send you instructions on how to reset your password.
        </span>

        <!-- Forgot password form -->
        <form name="forgotPasswordForm" ng-submit="requestPasswordReset(forgotPasswordData.email)" novalidate focus-first-error-on-submit>

            <!-- Account controls -->
            <div class="account__controls">

                  <!-- General error -->
                <div class="alert alert-danger" ng-if="isRequestPasswordErrorOcurred">
                     <span ng-repeat="errorMessage in errorMessages">{{errorMessage}}</span>
                </div>

                <!-- Form groups -->
                <div class="account__controls__form-groups--last">

                    <!-- Form group -->
                    <div class="form-group" ng-class="{'has-error': forgotPasswordForm.email.$invalid && ( forgotPasswordForm.email.$touched || forgotPasswordForm.$submitted ) }">
                        <input class="form-control" type="email" placeholder="Your email address" name="email" ng-model="forgotPasswordData.email" required valid-email />
                        <div class="help-block" ng-messages="forgotPasswordForm.email.$error" ng-if="forgotPasswordForm.email.$touched || forgotPasswordForm.$submitted">
                            <div ng-message="required">Your email address is mandatory.</div>
                            <div ng-message="validEmail">This email address is not valid.</div>
                        </div>
                    </div>
                </div>

                <!-- Button container -->
                <button class="btn btn-primary btn-fixed-width btn-rounded account__button" type="submit">Reset password</button>
            </div>
        </form>

        <a href="#" ng-click="AccountFormToggle.setState(ACCOUNT_FORM_STATE.login)">Nevermind, take me back!</a>
    </div>

    <!-- Password recovery email sent section -->
    <div class="account__section" ng-if="AccountFormToggle.state == ACCOUNT_FORM_STATE.forgotPasswordEmailSent">

        <!-- Title -->
        <h1 class="account__title">Email has been sent!</h1>

        <!-- Explain -->
            <span class="account__explain">
                We've sent you an email with the instructions on how to reset your password.
            </span>

        <!-- Button container -->
        <a href="#" ng-click="AccountFormToggle.setState(ACCOUNT_FORM_STATE.login)">Continue</a>
    </div>

</div>

