<div header></div>

<!-- Contact form -->
<div class="container">
    <div class="login-container__wrapper">

        <div ng-class="isAuthenticationErrorOcurred ? 'flash-error' : 'flash-success'"
             ng-if="message && message.length > 0">
            <span>{{message}}</span>
        </div>

        <form name="loginForm" class="form-horizontal" role="form" novalidate
              ng-submit="login(user.userName, user.password, loginForm)">

            <input id="name" name="userName" type="text" ng-model="user.userName" required
                   ng-class="{ 'has-error' : loginForm.userName.$invalid && !loginForm.userName.$pristine }"
                   placeholder="Name"/>
            <span for="userName" class="label-error"
                  ng-show="loginForm.userName.$invalid && !loginForm.userName.$pristine">Please provide a name.</span>

            <input id="email" name="userPassword" type="password" class="form-control"
                   ng-model="user.password"
                   required
                   ng-class="{ 'has-error' : loginForm.userPassword.$invalid && !loginForm.userPassword.$pristine }"
                   placeholder="Email"/>
            <span for="userPassword" class="label-error"
                  ng-show="loginForm.userPassword.$invalid && !loginForm.userPassword.$pristine">Please provide a valid email address.</span>

            <button type="submit" id="submit-button" class="btn btn-block btn-primary btn-sm">Log in</button>

        </form>

    </div>
</div>