<div class="pull-right">
    <a class="btn btn-danger" ui-sref="account:logout">LOGOUT</a>
</div>

<div class="container">
    <div class="jumbotron">

        <div class="row">
            <div class="col-md-4 col-md-offset-4">

                <form role="form" class="form-horizontal" name="loginForm"
                      ng-submit="login(user.userName, user.password)" novalidate>

                    <div class="alert alert-danger" ng-if="authError">Please try again</div>

                    <input class="form-control" ng-class="{'has-error' : authError}" name="userName"
                           placeholder="E-mail"
                           ng-model="user.userName" required/>

                    <input class="form-control" ng-class="{'has-error' : authError}" name="userPassword"
                           placeholder="Password"
                           ng-model="user.password" type="password" required/>

                    <button type="submit" class="btn btn-success">SUBMIT</button>

                </form>
            </div>
        </div>

    </div>
</div>
