<!-- Account sections -->
<div class="account__sections">

    <!-- Validate password reset token section -->
    <div class="account__section" ng-controller="ValidatePasswordResetTokenCtrl">

        <!-- Successfully validated -->
        <div ng-if="isFeedbackToBeShown && !errorMessages">
             <h1 class="account__title">Password has been successfully reseted!</h1>

               <!-- Explain -->
            <span class="account__explain">
                We've sent you an email with the instructions on how to reset your password.
            </span>

              <!-- Button container -->
            <a href="#" ng-click="continueToLogin()">Log me in.</a>
        </div>

        <!-- Problems -->
        <div class="account__controls__general-error" ng-if="isFeedbackToBeShown && errorMessages">
           <span ng-repeat="errorMessage in errorMessages">{{errorMessage}}</span>

            <br />
            <br />

            <!-- Button container -->
            <a href="#" ng-click="continueToResetPassword()">Let me try again.</a>
            <br />
            <span ng-if="isUserAuthenticated">
                You are authenticated. You will be logged off if you want to try again.
            </span>
        </div>
    </div>
</div>