<!-- Validate password reset token section -->
<div class="account__section" ng-hide="successfullyReseted">

    <!-- Title -->
    <h1 class="account__title">Reset your password.</h1>

    <!-- Reset password form -->
    <form name="resetPasswordForm" ng-submit="resetPassword(resetPasswordData)" novalidate>

        <!-- Account controls -->
        <div class="account__controls">

            <!-- Flash messages. -->
            <div flash-messages flash="flash" identifier-id="{{alertIdentifierId}}"></div>

            <!-- Form groups -->
            <div class="account__controls__form-groups--last">

                <!-- Form group -->
                <div class="form-group" ng-class="{'has-error': resetPasswordForm.$submitted && (resetPasswordForm.password.$invalid || badPostSubmitResponse)}">
                    <input class="form-control form-control--account" type="password" placeholder="New password" name="password" ng-model="resetPasswordData.password" auto-focus required />
                    <span class="help-message" ng-if="resetPasswordForm.password.$invalid && resetPasswordForm.$submitted">Your new password is mandatory.</span>
                </div>

                <!-- Form group -->
                <div class="form-group" ng-class="{'has-error': resetPasswordForm.$submitted && (resetPasswordForm.passwordConfirmation.$invalid || badPostSubmitResponse)}">
                    <input class="form-control form-control--account" type="password" placeholder="New password confirmation" name="passwordConfirmation" ng-model="resetPasswordData.passwordConfirmation" required />
                    <span class="help-message" ng-if="resetPasswordForm.passwordConfirmation.$invalid && resetPasswordForm.$submitted">Your confirm password is mandatory.</span>
                </div>
            </div>

            <!-- Button container -->
            <button class="btn account__button" type="submit">Reset password</button>
        </div>
    </form>

</div>

<!-- Change password section successfully-->
<div class="account__section" ng-hide="!successfullyReseted">

    <!-- Title -->
    <h1 class="account__title">Successfully</h1>

    <!-- Explain -->
    <span class="account__explain">
        We've successfully updated your password.
    </span>
</div>