.footer {
    background-color: $white;
    margin: 0;
    padding: 0;
    height: $footer-home-height;
    vertical-align: top;

    .footer__navbar {
        @include clearfix();
        padding: 20px 5px;
    }

    .footer__navbar__section-left {
        float: left;
        color: $gray8;

        span {
            color: $brand-complement;
        }
    }

    .footer__navbar__section-right {
        float: right;
        font-size: 20px;
    }
}
