.footer-home {
  background-color: $brand-primary;
  margin: 0;
  height: $footer-home-height;
  line-height: $footer-home-height;
}

.footer__navbar {

  ul {

    li {
      list-style: none;
      display: inline-block;
      padding: 5px;
      margin-right: 10px;

      a {
        color: darken($brand-primary, 15%);

        &:hover {
          //color: lighten($brand-primary, 15%);
          color: darken($brand-primary, 7%);
        }
      }
    }
  }
}