@media (max-width: 580px) {

  .footer__navbar__section-left {
    width: 35%;

    .footer__navbar__section-left__copyright {
      text-align: center;
    }
  }

  .footer__navbar__section-right {
    width: 60%;
  }

  .footer {
    .footer__navbar__section-right__list {
      width: 50%;

      ul {
        padding-left: 20px;
      }
    }
  }
}

@media (max-width: $screen-phone) {

  .footer__navbar__section-right__list--first {
    visibility: hidden;
  }
}