.header {
  background-color: $brand-primary;
  //padding: 10px 0;
  margin: 0;
  height: $header-height;
  line-height: $header-height;

  .header__wrapper {
    @include clearfix;
    width: $container-reminders-width;
    margin: 0 auto;

    .header__wrapper__logo {
      float: left;
      color: #ffffff;
    }

    .header__wrapper__menu {
      float: right;
      position: relative;

      a {
        padding: 4px 8px;
      }

      .header__wrapper__menu__dropdown {
        right: 10px;
        top: 36px;
        left: inherit;
      }
    }

    .header__wrapper__menu__email {
      color: white;

      .caret {
        border-top: 4px solid darken($brand-primary, 20%);
      }
    }

  }
}