.link--brand-bg {
  color: lighten($brand-primary, 20%);

  &:hover,
  &:active,
  &:focus {
    color: lighten($brand-primary, 40%)
  }
}

.header {
  background-color: $brand-primary;
  margin: 0;
  height: $header-height;
  line-height: $header-height;

  .header__wrapper {
    @include clearfix;
    width: $container-reminders-width;
    margin: 0 auto;

    .header__wrapper__logo {
      float: left;
      color: #ffffff;
      display: block;
    }

    .header__wrapper__feedback {
      float: right;
      margin-right: 30px;
    }

    .header__wrapper__menu {
      float: right;
      position: relative;

      a {
        padding: 4px 8px;
      }

      .header__wrapper__menu__dropdown {
        right: 10px;
        top: 36px;
        left: inherit;
      }
    }

    .header__wrapper__menu__email {

      .caret {
        border-top: 4px solid lighten($brand-primary, 20%);
      }
    }

  }
}