.header-home {
  background-color: #FFFFFF;
  margin: 0;
  height: $header-home-height;
  line-height: $header-home-height;

  .header__wrapper {
    @include clearfix;

    width: $container-home-width;
    margin: 0 auto;

    .header__wrapper__logo {
      float: left;
      color: $brand-primary;
      font-size: $font-size-large;
    }

    .header__wrapper__menu {
      float: right;
      position: relative;

      &__navbar {
        list-style: none;

        li {
          display: inline-block;
          margin: 0 20px;
        }

        .btn--login {
          width: 90px;
        }
      }
    }
  }
}