.header {
  $header-height: 60px;

  background-color: $brand-primary;
  //padding: 10px 0;
  margin: 0;
  height: $header-height;
  line-height: $header-height;


  .header__wrapper {
    @include clearfix;
    width: $global-width;
    margin: 0 auto;

    .header__wrapper__logo {
      float: left;
      color: #ffffff;
    }

    .header__wrapper__menu {
      float: right;
      position: relative;

      a {
        display: block;
        font-weight: $font-weight-light;
        color: $color-light-text;
      }

      .header__wrapper__menu__dropdown {
        position: absolute;
        display: none;
        opacity: 0;
        visibility: hidden;
        width: 150px;
        border: solid 2px $brand-primary;
        border-radius: 3px;
        padding: 5px;
        top: -20px;
        background-color: #ffffff;

        .nav-link {
          color: $link-color;
          display: block;
          padding: 5px;
          line-height: 14px;
          margin: 2px 0;

          &:hover {
            background-color: $color-light-bg;
            color: $color-base;
          }
        }
      }

      &:hover .header__wrapper__menu__dropdown {
        list-style: none;
        display: block;
        opacity: 1;
        visibility: visible;
        position: relative;
      }
    }
  }
}