.header-home {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1000;
  margin: 0;
  height: $header-home-height;
  line-height: $header-home-height;
  background-color: $white;
  transform: translate3d(0, 0, 0);

  .header__wrapper {
    @include clearfix;

    width: $container-home-width;
    margin: 0 auto;

    .header__wrapper__logo {
      float: left;
      color: $brand-primary;
      font-size: $font-size-large;
    }

    .header__wrapper__menu {
      float: right;
      position: relative;

      &__navbar {
        list-style: none;

        li {
          display: inline-block;
          margin: 0 20px;
        }

        .btn--login {
          width: 90px;
        }

        .btn--to-reminders {
          @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
          border-radius: $border-radius-small;
          font-size: $font-size-medium;
          width: 180px;
        }

        .btn--logout {
          width: 120px;
        }
      }
    }
  }
}