.header-home {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1000;
  margin: 0;
  height: $header-home-height;
  line-height: $header-home-height;
  background-color: $white;
  transform: translate3d(0, 0, 0);

  .header__wrapper {
    @include clearfix;

    width: $container-home-width;
    margin: 0 auto;

    .header__wrapper__brand {
      display: block;
      float: left;

      .header__wrapper__brand__logo {
        $logo-size: 40px;
        background: url("../assets/img/logo.svg") no-repeat top left;
        background-size: contain;
        display: inline-block;
        width: $logo-size;
        height: $logo-size;
        text-indent: -9999px;
        position: relative;
        @include translate(0, ($header-home-height/2)-($logo-size/2)-3); //Added -3 for pixel-perfect positioning :)
      }

      .header__wrapper__brand__text {
        color: $brand-primary;
        font-size: $font-size-large;
        margin-left: 5px;
      }
      
      &:hover {
        opacity: 0.9;
      }
    }

    .header__wrapper__menu {
      float: right;
      position: relative;

      &__navbar {
        list-style: none;

        li {
          display: inline-block;
          margin-right: 20px;

          &.narrow {
            margin-right: 10px;
          }
        }
      }
    }
  }
}

.btn--login {
  width: 90px;
}

.btn--logout {
  @include button-outline($brand-primary, $btn-primary-bg, $btn-primary-border);
  height: $form-height-xs;
  width: 90px;
}

.btn--to-reminders {
  @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
  border-radius: $border-radius-small;
  height: $form-height-xs;
  width: 156px;
}