/* Loading bar animation */

@-webkit-keyframes loading-bar {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes loading-bar {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
