.account__controls .form-group {
    position: relative;
    margin-bottom: 25px;
}

.help-message,
.home__signup__sections__section__validation-messages {
    display: block;
    position: absolute;
    top: -20px;
    right: 0;
    font-size: 12px;
    margin: 0;
    color: $state-danger-text;
}
