<div class="error__sections">
    <h1 class="error__sections__heading">Oops... you found a 500</h1>

    <div class="error__sections__reason">Nothing you did. It seems like an internal problem on the server.</div>
    <div class="error__sections__reason error__sections__reason--last">If this happens again please let us know at <a class="link-primary" href="mailto:hello@reme.io">hello@reme.io</a></div>

    <a class="error__sections__link" href="javascript:void(0)" ng-click="goToHomePage()">Go to homepage</a>

</div>