<div header-home class="view-container__header"></div>

<div class="view-container--about">
    <div class="about__sections">
        <h1 class="about__sections__heading">About us</h1>

        <h1 class="about__sections__description">
            We are a small team of 3 and we're really passioned about building Reme. Our main goal is to make our users happy (that's you!)
            and we hope you like using it. If you'd like to say hi, here we are.
        </h1>

        <div class="about__sections__team">
            <div class="about__sections__team__entry">
                <img class="about__sections__team__entry__img" src="/build/assets/img/c4162760-9cf2-11e4-9312-dbead076a43a.png">

                <div class="about__sections__team__desc">Sorin Pantiş</div>
                <div class="about__sections__team__link">
                    <a href="https://twitter.com/sorinpantis" target="_blank">@sorinpantis</a>
                </div>
            </div>
            <div class="about__sections__team__entry">
                <img class="about__sections__team__entry__img" src="/build/assets/img/c418c0b0-9cf2-11e4-80a4-abd6c14b15d2.png">

                <div class="about__sections__team__desc">Tamás Pap</div>
                <div class="about__sections__team__link">
                    <a href="https://twitter.com/paptamas" target="_blank">@paptamas</a>
                </div>
            </div>
            <div class="about__sections__team__entry">
                <img class="about__sections__team__entry__img" src="/build/assets/img/c4105efc-9cf2-11e4-99aa-22889cb05bd0s.jpg">

                <div class="about__sections__team__desc">Ioan Lucuţ</div>
                <div class="about__sections__team__link">
                    <a href="https://twitter.com/ioanlucut" target="_blank">@ioanlucut</a>
                </div>
            </div>
        </div>

    </div>
</div>

<div footer-home class="view-container__footer footer-about"></div>