<div header-home></div>

<div class="home">

    <div class="home__signup">
        <div class="centered-section-home">
            <h1>Create email reminders in seconds!</h1>
            <h3>O fraza de doua propozitii despre ce face Reme va fi aici. O fraza de doua propozitii despre ce face Reme va fi aici.</h3>

            <div class="home__signup__form">



            </div>
        </div>
    </div>



    <div class="home__testimonials">
        <div class="centered-section-home">
            TESTIMONIALS
        </div>
    </div>






</div>

<!--<div footer-home></div>-->

