<div header-home></div>

<div class="home">

    <div class="home__signup">
        <div class="centered-section-home">

            <h1 class="home__signup__title">Create email reminders in seconds!</h1>

            <h3 class="home__signup__description">Those reminders that you don't want to see in your calendar... Give them to Reme and please do forget about them! Reme will not.</h3>

            <!-- Register  section -->
            <div class="home__signup__sections" account-form-toggle>

                <!-- Request registration section -->
                <div class="home__signup__sections__section" ng-if="AccountFormToggle.state == ACCOUNT_FORM_STATE.requestSignUpRegistration" ng-controller="RequestSignUpRegistrationCtrl">

                    <!-- Request registration form -->
                    <form name="requestSignUpRegistrationForm" ng-submit="requestSignUpRegistration(requestSignUpRegistrationData.email)" novalidate focus-first-error-on-submit>

                        <!-- Account controls -->
                        <div class="home__signup__sections__section__controls">

                            <!-- General error -->
                            <div class="home__signup__sections__section__controls__alert" ng-if="isRequestPasswordErrorOcurred">
                                Sorry, we encountered a problem.
                            </div>

                            <!-- Email input -->
                            <input class="form-control home__signup__sections__section__controls__email" ng-class="{'has-error': requestSignUpRegistrationForm.email.$invalid && requestSignUpRegistrationForm.$submitted}" type="email" placeholder="Email address" name="email" ng-model="requestSignUpRegistrationData.email" ng-model-options="{ debounce: 800 }" required valid-email unique-email />

                            <!-- Button container -->
                            <button class="btn home__signup__sections__section__controls__button" type="submit">Get started for FREE!</button>
                        </div>

                        <!-- Error messages -->
                        <div class="home__signup__sections__section__validation-messages" ng-class="{'has-error': requestSignUpRegistrationForm.email.$invalid && requestSignUpRegistrationForm.$submitted}" ng-messages="requestSignUpRegistrationForm.email.$error" ng-if="requestSignUpRegistrationForm.$submitted">
                            <div ng-message="required">Your email address is mandatory.</div>
                            <div ng-message="validEmail">This email address is not valid.</div>
                            <div ng-message="uniqueEmail">This email address is already used.</div>
                        </div>
                        <div class="home__signup__sections__section__checking-availability" ng-if="requestSignUpRegistrationForm.email.$pending">
                            Checking availability...
                        </div>
                    </form>
                </div>

                <!-- Request registration email sent section -->
                <div class="home__signup__sections__section" ng-if="AccountFormToggle.state == ACCOUNT_FORM_STATE.requestSignUpRegistrationEmailSent">

                    <!-- Title -->
                    <h1 class="home__signup__sections__section__submitted-title">Thank you for registration!</h1>

                    <!-- Explain -->
                    <span class="home__signup__sections__section__submitted-message">
                        We've sent you an email with the instructions on how to further register your account on Reme.
                    </span>
                </div>

            </div>
        </div>
    </div>

    <div class="home__testimonials">
        <div class="centered-section-home">
            <div class="press_logo lifehacker">Lifehacker</div>
            <div class="press_logo producthunt">ProductHunt</div>
            <div class="press_logo makeuseof">MakeUseOf</div>
            <div class="press_logo feedmyapp">FeedMyApp</div>
            <div class="press_logo newstartups">NewStartups</div>
            <div class="press_logo addictivetips">AddictiveTips</div>
            <div class="press_logo chromewebstore"><span class="">Reme</span> is available on <br> Chrome Web Store</div>
        </div>
    </div>

</div>

<div footer-home></div>

