<div header-home class="view-container__header"></div>

<div class="view-container--terms">

    <div class="privacy__sections">

        <h1>Terms of use</h1>
        <ul>
            <li>Reme is a tool created in the sole purpose of helping people get organized by creating reminders which will be sent to the provided e-mail address(es) at a specific date and time. Reme is not responsible for the content entered by the user.</li>
            <li>Reme uses e-mail as the only notification method. Reme is not responsible for missed dead-lines, appointments or other time-critical events.</li>
        </ul>

        <h3>What personal data do we collect?</h3>
        <ul>
            <li>By registering or authenticating, you allow Reme to identify you and give you access to its services.</li>
            <li>We store your name and email address used for registration.</li>
        </ul>

        <h3>Third party service that use personal data</h3>
        <ul>
            <li>Mandrill (from Mailchimp) - the mail server used to send the reminders</li>
            <li>Mixpanel - used to track actions with the purpose of improving the application&#39;s user experience</li>
            <li>Reamaze - used to manage the conversations with our users</li>
        </ul>

        <h1>Privacy Policy</h1>
        <ul>
            <li>The information Reme stores is the subject of the reminder and the e-mail address(es) the user enters for the reminder recipient.</li>
            <li>We use local storage to save reminder related data for better user-experience. We do not collect anonymous data of any kind.</li>
            <li>The only e-mail Reme will send to the provided address(es) as recipients will be the reminder which the user creates.</li>
            <li>We will only use your email address(es) to send the reminders you create or for Reme related notifications.</li>
            <li>We will not use your email address to send newsletters or advertising that you didn&#39;t subscribe to.</li>
            <li>We will not share your e-mail address or the e-mail address(es) you used for other recipients with 3rd party entities in the scope of advertising or spam.</li>
        </ul>

        <p>We may change the Privacy policy and/or the Terms of use without notice.</p>

        <h3>Contact</h3>

        <p>Please feel free to contact us at hello@reme.io for any questions or concerns you may have regarding the terms of use or the privacy policy.</p>
    </div>
</div>

<div footer-home class="view-container__footer footer-about"></div>