<div class="footer-home">
    <div class="centered-section-home">

        <div class="footer__navbar">
            <div class="footer__navbar__section-left">
                Made with <span class="icon-heart"></span> from all over.
            </div>
            <div class="footer__navbar__section-right">
                <a class="icon-twitter" href="https://twitter.com/reme_io" target="_blank"></a>
                <a class="icon-facebook" href="https://www.facebook.com/reme.io" target="_blank"></a>
                <!--<a href="javascript:void(0)" ui-sref="privacy">Privacy and Terms</a>-->
            </div>
        </div>

    </div>
</div>
