<div class="footer">
    <div class="centered-section-logged">

        <div class="footer__navbar">
            <div class="footer__navbar__section-left">
                Made with <span class="icon-heart"></span> from all over.
            </div>
            <div class="footer__navbar__section-right">
                <a href="https://github.com/ioanlucut/reme" target="_blank" rel="noopener">GitHub</a>
                <!--<a href="javascript:void(0)" ui-sref="privacy">Privacy and Terms</a>-->
            </div>
        </div>

    </div>
</div>
