<div class="footer">
    <div class="centered-section-logged">

        <div class="footer__navbar">
            <div class="footer__navbar__section-left">
                <div class="footer__navbar__section-left__copyright">
                    Made with <span class="icon-heart-2"></span> in Cluj-Napoca.
                </div>
            </div>
            <div class="footer__navbar__section-right">
                <div class="footer__navbar__section-right__list">
                    <ul>
                        <li><a href="javascript:void(0)" ui-sref="about">About</a></li>
                        <li><a href="build/assets/press/press_kit.zip">Press kit</a></li>
                        <li><a href="javascript:void(0)" ui-sref="privacy">Privacy and Terms</a></li>
                    </ul>
                </div>
                <div class="footer__navbar__section-right__list">
                    <ul>
                        <li><a href="https://twitter.com/reme_io">Twitter</a></li>
                        <li><a href="https://www.facebook.com/reme.io">Facebook</a></li>
                        <li><a href="https://plus.google.com/+RemeIo">Google+</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>