<header class="header-home">
    <div class="header__wrapper">

        <a class="header__wrapper__brand" href="#">
            <span class="header__wrapper__brand__logo">logo</span>
            <span class="header__wrapper__brand__text">Reme</span>
        </a>

        <div class="header__wrapper__menu">
            <ul class="header__wrapper__menu__navbar">
                <li><a href="#">Pricing</a></li>
                <li><a href="#">About</a></li>
                <li ng-if="! currentUser.isAuthenticated()">
                    <a class="btn-outline btn--login" href="javascript:void(0)" ui-sref="account">Login</a></li>
                <li class="narrow" ng-if="currentUser.isAuthenticated()">
                    <a class="btn btn--to-reminders" href="javascript:void(0)" ui-sref="reminders">Go to my reminders</a>
                </li>
                <li ng-if="currentUser.isAuthenticated()">
                    <a class="btn btn--logout" href="javascript:void(0)" ui-sref="account:logout">Logout</a>
                </li>
            </ul>
        </div>

    </div>
</header>