@media (max-width: $screen-tablet) {

    .home__testimonials {
        padding: 30px 0;
    }

    .press_logo {
        margin: 10px 7px;
    }

    .chromewebstore {
        display: none;
    }
}
