.home__testimonials {
    background-color: #FFFFFF;
    text-align: center;
    padding: 140px 0 70px 0;
}

.img_sprite {
    background-image: url("../assets/img/sprites.png");
    background-repeat: no-repeat;
    text-indent: -9999px;
}

.press_logo {
    height: 80px;
    width: 295px;
    display: inline-block;
    margin: 65px 7px;
}

.lifehacker {
    background-position: 0 5px;
}

.producthunt {
    background-position: 0 -80px;
}

.makeuseof {
    background-position: 0 -157px;
}

.feedmyapp {
    background-position: 0 -230px;
}

.newstartups {
    background-position: 0 -310px;
}

.addictivetips {
    background-position: 0 -390px;
}

.chromewebstore {
    background-position: -125px -470px;
    display: block;
    height: 50px;
    width: 210px;
    margin: 80px auto 0 auto;
    padding: 7px 0 0 55px;
    font-size: 16px;
    font-weight: $font-weight-light;
    color: #000000;
    text-indent: 0;
    text-align: left;

    span {
        font-weight: $font-weight-bold;
    }
}
