.view-container--terms {
  position: relative;
  max-width: $container-home-width;
  margin: 0 auto;
  min-height: 100%;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: $footer-home-height;
}

.privacy__sections {
  position: relative;
  padding-top: 71px;
  margin: 0 auto;
  max-width: 100%;
  color: black;
}