.home__testimonials {
    background-color: #FFFFFF;
    text-align: center;
    padding: 40px 0 40px 0;
}

.img_sprite {
    background-image: url("../assets/img/sprites.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-indent: -9999px;
}

.press_logo {
    height: 40px;
    width: 150px;
    display: block;
    float: left;
    margin: 15px 1px;
}

.lifehacker {
    background-position: 0 3px;
}

.producthunt {
    background-position: 0 -38px;
}

.makeuseof {
    background-position: 0 -76px;
}

.feedmyapp {
    background-position: 0 -111px;
}

.newstartups {
    background-position: 0 -151px;
}

.addictivetips {
    background-position: 0 -190px;
}

.chromewebstore {
    background-position: -125px -470px;
    display: block;
    height: 50px;
    width: 210px;
    margin: 80px auto 0 auto;
    padding: 7px 0 0 55px;
    font-size: 16px;
    font-weight: $font-weight-light;
    color: #000000;
    text-indent: 0;
    text-align: left;

    span {
        font-weight: $font-weight-bold;
    }
}
