.centered-section-home {
  max-width: $container-home-width;
  width: 96%;
  margin: 0 auto;
}

.home {
  min-height: 100%;
  height: auto;
  margin: 0 auto -180px;
  padding: 0 0 180px;

  &__signup {
    height: 700px;

    h1.home__signup__title {
      padding: 250px 15px 20px;
      font-size: 52px;
      font-weight: $font-weight-bold;
      text-align: center;
      margin: 0;
    }

    h3.home__signup__description {
      margin: 0;
      padding: 0 190px 90px;
      font-size: 20px;
      font-weight: $font-weight-light;
      text-align: center;
    }
  }
}