.centered-section-home {
    max-width: $container-home-width;
    margin: 0 auto;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.centered-section-logged {
    max-width: $container-reminders-width;
    margin: 0 auto;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.home {
    min-height: 100%;
    padding-bottom: $footer-home-height;

    .fullscreen-bg {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
        z-index: -100;
    }

    .fullscreen-bg__video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .home__signup {
        height: 700px;
        color: $white;

        h1.home__signup__title {
            padding: 250px 15px 20px;
            font-size: 48px;
            font-weight: $font-weight-bold;
            text-align: center;
            margin: 0;
            font-family: $font-family-base;
        }

        h3.home__signup__description {
            margin: 0;
            padding: 0 190px 90px;
            font-size: 20px;
            font-weight: $font-weight-light;
            text-align: center;
            line-height: 30px;
        }
    }
}
