.centered-section-home {
  max-width: $container-home-width;
  width: 96%;
  height: 100%;
  margin: 0 auto;
}

.home {

  &__signup {
    height: 600px;

    h1.home__signup__title {
      padding: 100px 15px 20px;
      font-size: 52px;
      font-weight: $font-weight-bold;
      text-align: center;
      margin: 0;
    }

    h3.home__signup__description {
      margin: 0;
      padding: 0 190px 90px;
      font-size: 20px;
      font-weight: $font-weight-light;
      text-align: center;
    }
  }

  &__testimonials {
    height: 200px;
    background-color: #FFFFFF;
  }

}