.home__signup__sections {
}

.home__signup__sections__section {
    text-align: center;
}

.home__signup__sections__section--success {
    position: relative;
    max-width: 500px;
    margin: 0 auto 0;
    text-align: center;
    border-radius: 3px;
    padding-left: 60px;

    &:before {
        @include icon-font-base(40px);
        @extend .icon-checkmark;
        margin: auto;
        font-size: 40px;
    }
}

.home__signup__sections__section__controls {
    @include clearfix();
    width: 800px;
    margin: 0 auto;
    text-align: center;
}

.home__signup__sections__section__controls__alert {
    width: 300px;
    text-align: center;
    margin: 10px auto;
}

.home__signup__sections__section__controls__email,
.home__signup__sections__section__controls__button {
    font-size: $font-size-medium;
    font-weight: $font-weight-bold;
    height: $form-height;
}

.home__signup__sections__section__controls__email {
    @include border-right-radius(0);
    @include border-left-radius($border-radius-large);
    width: 100%;
    padding-left: 30px;
    border: solid 0 $white;

    &.has-error {
        border-color: $state-danger-text;
    }
}

.home__signup__sections__section__controls--information {
    position: relative;
    width: 65%;
    display: block;
    float: left;
}

.home__signup__sections__section__controls__button {
    @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
    @include border-left-radius(0);
    @include border-right-radius($border-radius-large);
    width: 35%;
    display: block;
    float: left;
}

.home__signup__sections__section__validation-messages {
    text-align: center;
    color: $state-danger-text;
}

.home__signup__sections__section__checking-availability {
    text-align: center;
    color: $brand-primary;
    padding: 10px;
}

.home__signup__sections__section__submitted-title {
    margin-bottom: 20px;
    line-height: 25px;
    text-align: center;
    font-size: 36px;
    font-weight: 400;
}

.home__signup__sections__section__submitted-message {
    display: block;
    margin-bottom: 20px;
    line-height: 20px;
    font-weight: 300;
    font-size: 16px;
    color: #468847;
}
