.home__signup__sections {
}

.home__signup__sections__section {
    text-align: center;
}

.home__signup__sections__section--success {
    position: relative;
    max-width: 500px;
    margin: 0 auto 0;
    text-align: center;
    border-radius: 3px;
    padding-left: 60px;

    &:before {
        @include icon-font-base(40px);
        @extend .icon-checkmark;
        margin: auto;
        font-size: 40px;
    }
}

.home__signup__sections__section__controls {
    text-align: center;
}

.home__signup__sections__section__controls__alert {
    width: 300px;
    text-align: center;
    margin: 10px auto;
}

@include input-size('.home__signup__sections__section__controls__email', $input-height-large, $padding-large-vertical, $padding-large-horizontal, $font-size-medium, $line-height-large, $border-radius-base);

.home__signup__sections__section__controls__email {
    height: $form-height;
    width: 100%;
    margin-right: 12px;
    font-size: $font-size-extra;
    font-weight: $font-weight-light;
    display: inline-block;

    &.has-error {
        border-color: $state-danger-text;
    }
}

.home__signup__sections__section__controls--information {
    position: relative;
    width: 300px;
    display: inline-block;

    .information {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 20px;
    }

    .icon-info {
        height: 50px;
        line-height: 50px;
        font-size: 16px;

        &:before {
            height: 50px;
            line-height: 50px;
        }
    }
}

.home__signup__sections__section__controls__button {
    @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
    border-radius: $border-radius-small;
    font-size: $font-size-extra;
    height: $form-height;
    width: 300px;
}

.home__signup__sections__section__validation-messages {
    text-align: center;
    color: $state-danger-text;
}

.home__signup__sections__section__checking-availability {
    text-align: center;
    color: $brand-primary;
    padding: 10px;
}

.home__signup__sections__section__submitted-title {
    margin-bottom: 20px;
    line-height: 25px;
    text-align: center;
    font-size: 36px;
    font-weight: 400;
}

.home__signup__sections__section__submitted-message {
    display: block;
    margin-bottom: 20px;
    line-height: 20px;
    font-weight: 300;
    font-size: 16px;
    color: #468847;
}
