// Time picker dropdown menu
// ---------------------------

.dropdown-menu-time-picker {
  min-width: 100%;
  height: 260px;
  padding: 0;
  overflow: hidden;

  li {
    &.selected {
      background: $dropdown-link-hover-bg;
    }

    a {
      text-align: center;
    }
  }
}

.reminder-modal__form__info--time {
  .time-in-past {
    pointer-events: none;
    cursor: not-allowed;

    > a {
      color: rgb(182, 182, 182);
      pointer-events: none;
      cursor: default;
    }
  }
}
