<div class="privacy-container">

    <h1>Terms and Privacy Policy</h1>

    <div>
        <section>
            <h3>General Terms</h3>
            <ul>
                <li>
                    Reme.IO is a tool created in the sole purpose of helping people get organized by creating
                    reminders which will be sent to the provided e-mail address(es) at a specific date and time.
                    Reme.IO is not responsible for the content entered by the user.
                </li>
                <li>
                    Reme.IO uses e-mail as the only notification method. Reme.IO is not responsible for missed
                    dead-lines, appointments or other time-critical events.
                </li>
            </ul>
        </section>

        <section>
            <h3>Privacy Policy</h3>
            <ul>
                <li>
                    The information Reme.IO stores is the subject of the reminder and the e-mail address(es)
                    the user enters for the reminder recipient.
                </li>
                <li>
                    We use local storage to save reminder related data for better user-experience. We do not
                    collect anonymous data of any kind.
                </li>
                <li>
                    The only e-mail Reme.IO will send to the provided address(es) will be the reminder which
                    the user creates.
                </li>
                <li>
                    We will not use your e-mail address to send any newsletters, advertising or any other kind
                    of spam.
                </li>
                <li>
                    We will not share your e-mail address with 3rd party entities.
                </li>
            </ul>
        </section>

        <section>
            <div>
                Please feel free to contact us at <a href="mailto:hello@reme.io">hello@reme.io</a> for any
                questions or concerns you may have regarding the privacy policy.
            </div>
        </section>
    </div>
</div>

