<div header></div>
<div class="centered-global-width">

    <div class="reminders__header">
        <a class="btn-outline reminders__header__btn" href="#">Create reminder</a>
    </div>

    <div class="reminder">
        <div class="reminder__title">
            Don’t forget to pay the everlasting bills
        </div>
        <div class="reminder__info">
            <div class="reminder__info__item reminder__info__item--date">
                <span class="icon-calendar"></span>
                22 Dec 2014
            </div>
            <div class="reminder__info__item reminder__info__item--recurring">
                <span class="icon-recurring"></span>
                Every week on Monday
            </div>
            <div class="reminder__info__item reminder__info__item--time">
                <span class="icon-clock"></span>
                18:00
            </div>
        </div>
        <div class="reminder__menu">
            <a class="reminder__menu__option" href="#"><span class="icon-pencil"></span></a>
            <a class="reminder__menu__option reminder__menu__option--complete" href="#"><span class="icon-checkmark"></span></a>
            <a class="reminder__menu__option" href="#"><span class="icon-trash"></span></a>
        </div>
    </div>





</div>