<div header></div>
<div class="centered-global-width">

    <div class="reminders__header">
        Reminders
    </div>

    <div class="reminder">
        <div class="reminder__title">
            Don’t forget to pay the everlasting bills
        </div>
        <div class="reminder__info reminder__info--date">
            22 December
        </div>
        <div class="reminder__info reminder__info--time">
            18:00
        </div>
        <div class="reminder__info reminder__info--recurring">
            Every week on Monday
        </div>

        <div class="reminder__menu">
            <a class="reminder__menu__option reminder__menu__option--edit icon-pencil" href="#"><span>Edit reminder</span></a>
            <a class="reminder__menu__option reminder__menu__option--complete icon-checkmark" href="#"><span>Mark as completed</span></a>
            <a class="reminder__menu__option reminder__menu__option--delete icon-trash" href="#"><span>Delete reminder</span></a>
        </div>

    </div>





</div>