<div header></div>
<div class="centered-global-width">

    <div class="reminders__header">
        Reminders
    </div>

    <div class="reminder">
        <div class="reminder__title">
            Don’t forget to pay the everlasting bills
        </div>
        <div class="reminder__info reminder__info--date">
            22 December
        </div>
        <div class="reminder__info reminder__info--time">
            18:00
        </div>
        <div class="reminder__info reminder__info--recurring">
            Every week on Monday
        </div>
    </div>

    <div class="reminder">
        <div class="reminder__title">
            Don't forget to do some push-ups or whatever
        </div>
        <div class="reminder__info reminder__info--date">
            12 June
        </div>
        <div class="reminder__info reminder__info--time">
            07:00
        </div>
        <div class="reminder__info reminder__info--recurring">
            Every week on Monday, Tuesday
        </div>
    </div>


</div>