/* Account */

.account__sections {
  position: relative;
  width: auto;
  max-width: 300px;
  margin: 120px auto 0;
  text-align: center;
}

.account__sections--request-registration {
  max-width: 500px;
}

.account__title {
  margin-bottom: 20px;
  line-height: 25px;
  text-align: center;
  font-size: $font-size-h1;
  font-weight: $font-weight-regular;
}

.account__explain {
  display: block;
  margin-bottom: 50px;
  line-height: 20px;
  font-weight: $font-weight-light;
  font-size: 15px;
  color: $gray7;
}

.account__controls {
  position: relative;
  padding-top: 40px;
}

@include input-size('.form-control--account', $input-height-large, $padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $border-radius-base);

.form-control--account {
  font-weight: $font-weight-light;
}

.account__controls__form-groups--last {
  margin-bottom: 20px;
}

.account__button {
  @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
  @extend .btn-block;
  padding: 10px 16px;
  line-height: 1.33;
  border-radius: 6px;
}

.request--registration {
  @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
  padding: 10px 16px;
  line-height: 1.33;
  border-radius: 6px;
  height: 45px;
}

.help-block--request-registration {
  &.has-error {
    color: #b94a48;
  }
}

.link-primary {
  color: $gray-darker;
}

.link-secondary {
  color: $gray9;
}