/* Account */

.account__sections {
  position: relative;
  width: auto;
  max-width: 300px;
  margin: 120px auto 0;
  text-align: center;
}

.account__sections--request-registration {
  max-width: 500px;
  margin: 10px auto 0;
}

.account__sections--settings {
  min-height: $container-reminders-height;
}

.link--lg {
  display: block;
  margin-top: 40px;
}

.link--lg-middle {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}

.account__title {
  margin-bottom: 20px;
  line-height: 1.1;
  text-align: center;
  font-size: $font-size-h1;
  font-weight: $font-weight-regular;
}

.account__explain {
  display: block;
  margin-bottom: 25px;
  line-height: 20px;
  font-weight: $font-weight-light;
  font-size: 15px;
  color: $gray7;
}

.account__controls {
  position: relative;
  padding-top: 40px;
}

@include input-size('.form-control--account', $input-height-large, $padding-large-vertical, $padding-large-horizontal, $font-size-medium, $line-height-large, $border-radius-base);

.form-control--account {
  font-weight: $font-weight-light;
}

.account__controls__form-groups--last {
  margin-bottom: 20px;
}

.account__controls__form-groups--small-offset {
  margin-bottom: 5px;
}

.account__controls__form-groups--medium-offset {
  margin-bottom: 15px;
}

.form-group--small-offset {
  margin-bottom: 5px;
}

.account__button {
  @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
  @extend .btn-block;
  border-radius: $border-radius-small;
  font-size: $font-size-medium;
  height: $form-height;
  width: 300px;
  text-transform: uppercase;
}

.link-primary {
  color: $gray-darker;
}

.link-secondary {
  color: $gray9;
}

.centered-section-account {
  max-width: $container-reminders-width;
  width: 100%;
  margin: 0 auto;
  min-height: $container-reminders-height;
}

.account__controls__form__info {
  margin-bottom: 35px;
  @include clearfix();
  padding-left: 5px;
  padding-right: 5px;
}

.account__controls__form__info__left {
  float: left;
  color: $black;
}

.account__controls__form__info__right {
  float: right;
  font-size: 16px;
  font-weight: bold;
}