@font-face {
  font-family: "FreightText Pro";
  src: url("../assets/fonts/freight-text-pro/freigtexprosemit-webfont.eot");
  src: url("../assets/fonts/freight-text-pro/freigtexprosemit-webfont.eot?#iefix") format("embedded-opentype"),
  url("../assets/fonts/freight-text-pro/freigtexprosemit-webfont.ttf") format("truetype")
  url("../assets/fonts/freight-text-pro/freigtexprosemit-webfont.woff2") format("woff2"),
  url("../assets/fonts/freight-text-pro/freigtexprosemit-webfont.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "FreightText Pro";
  src: url("../assets/fonts/freight-text-pro/freigtexprosem-webfont.eot");
  src: url("../assets/fonts/freight-text-pro/freigtexprosem-webfont.eot?#iefix") format("embedded-opentype"),
  url("../assets/fonts/freight-text-pro/freigtexprosem-webfont.ttf") format("truetype"),
  url("../assets/fonts/freight-text-pro/freigtexprosem-webfont.woff2") format("woff2"),
  url("../assets/fonts/freight-text-pro/freigtexprosem-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "FreightText Pro";
  src: url("../assets/fonts/freight-text-pro/freigtexprobookit-webfont.eot");
  src: url("../assets/fonts/freight-text-pro/freigtexprobookit-webfont.eot?#iefix") format("embedded-opentype"),
  url("../assets/fonts/freight-text-pro/freigtexprobookit-webfont.ttf") format("truetype")
  url("../assets/fonts/freight-text-pro/freigtexprobookit-webfont.woff2") format("woff2"),
  url("../assets/fonts/freight-text-pro/freigtexprobookit-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "FreightText Pro";
  src: url("../assets/fonts/freight-text-pro/freigtexprobook-webfont.eot");
  src: url("../assets/fonts/freight-text-pro/freigtexprobook-webfont.eot?#iefix") format("embedded-opentype"),
  url("../assets/fonts/freight-text-pro/freigtexprobook-webfont.ttf") format("truetype"),
  url("../assets/fonts/freight-text-pro/freigtexprobook-webfont.woff2") format("woff2"),
  url("../assets/fonts/freight-text-pro/freigtexprobook-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
