@media screen and (min-width: 768px) {
    .modal-dialog {
        width: 700px;
    }
}

@media (max-width: 480px) {

    .form-group--reminder-text {
        padding-top: 20px;
    }

    .reminder-modal__form__info {
        margin-top: 15px;
    }

    .reminder-modal__form {
        padding: 15px 15px;
    }

}
