.reminder__info__item__icon {
    float: right;
    margin-left: 15px;
    vertical-align: middle;
}

.reminder__info__item__icon--user {

}

.reminder__info__item__icon--email {

}

.reminder__info {
    position: relative;
    color: $gray7;
    width: 90%;
    @include clearfix();
    padding-top: 8px;
}

.reminder__info__item {
    position: relative;
    float: left;
    display: block;
    min-height: 1px;
    min-width: 20px;
    margin: 0 10px 0 0;
    @include clearfix();
    font-size: 12px;

    span {
        display: block;
        float: left;
        width: 20px;
        text-align: center;
        margin-right: 0;
        margin-top: 2px;
        vertical-align: middle;
        color: $brand-complement;
        font-weight: $font-weight-bold;
    }
}

.reminder__info__item--additional {
    float: right;
    @include clearfix();
}

.reminder__menu__option--update {
    color: $gray-light;

    &:hover {
        color: $gray;
    }
}

.reminder__menu__option--disabled {
    cursor: not-allowed;
}

.reminder__menu__option--delete {
    color: lighten($brand-danger, 15%);

    &:hover {
        color: $brand-danger;
    }
}
