.centered-global-width {
  width: $global-width;
  margin: 0 auto;
}

.reminders__header {
  height: 100px;
}

.reminder {
  border: solid 2px $color-secondary;
  border-radius: 3px;
  width: $global-width;
  height: 90px;
  padding: 10px;
  margin-bottom: 22px;
  position: relative;

  &__title {
    font-size: $font-size-large;
    font-weight: $font-weight-bold;
  }

  &__info {
    display: inline-block;
    padding-right: 0px;
    color: $color-secondary;
    //margin-top: 20px;
    position: absolute;
    bottom: 10px;

    &--date {
      left: 10px;
    }

    &--time {
      left: 220px;
    }

    &--recurring {
      left: 450px;
      visibility: hidden;
    }
  }

  &__menu {
    background-color: rgba(255,255,255,1);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    text-align: center;
    @include transition(all 0.3s);

    &__option {
      //border: solid 1px #ff0000;
      display: inline-block;
      width: 130px;
      height: 80px;
      margin: 3px 10px;
      border-radius: 3px;
      //font-size: 40px;

      span {
        //border: solid 1px #ff0000;
        display: block;
        margin: 0;
        font-size: 40px;
      }

      &--edit {
        //background-image: ; //set the icon here

        &:hover {
          background-color: lighten($brand-info, 40%);
          color: $brand-info;
        }
      }

      &--complete {
        //background-image: ; //set the icon here

        &:hover {
          background-color: lighten($brand-success, 40%);
          color: $brand-success;
        }
      }

      &--delete {
        //background-image: ; //set the icon here

        &:hover {
          background-color: lighten($brand-danger, 40%);
          color: $brand-danger;
        }
      }

    }
  }

  &:hover .reminder__menu {
    opacity: 1;
  }
}