.empty-state--text {
  font-weight: $font-weight-light;
  font-size: 20px;
  color: $gray-light;
  font-family: $font-family-hand;
}

.reminder__empty--revived {
  @include duration(0s !important);
}

.reminder--last-add-remove {

}

.reminder__empty {
  position: relative;
  padding: 100px 30px;
  margin: 0 auto;
  text-align: center;
  @include fadeIn();
}