.reminder {
  opacity: 1;
}

.reminder.ng-enter {
  opacity: 1;
  background-color: #faffbd;
}

.reminder.ng-enter-active {
  background-color: #FFFFFF;
  opacity: 1;
  @include transition(all 1s 1s ease-in);
  @include bounceIn();
}

.reminder.ng-leave {
  background-color: lighten($brand-danger, 30%);
}

.reminder.ng-leave-active {
  @include bounceOutRight();
}