.reminder {
  opacity: 1;
}

.reminder.ng-enter {
  &:not(.reminder--loaded) {
    opacity: 1;
    background-color: $reminder-yellow;
  }
}

.reminder.ng-enter-active {
  &:not(.reminder--loaded) {
    background-color: $white;
    opacity: 1;
    @include transition(all 1s 1s ease-in);
    @include fadeInDown();
  }
}

.reminder.ng-leave {
  background-color: lighten($brand-danger, 30%);
}

.reminder.ng-leave-active {
  @include bounceOutRight();
}

/*If new reminder is added, the last reminder from list is deleted, so we skip transition*/
.reminder.ng-leave-active.reminder--last-add-remove {
  @include duration(0s !important);
  display: none;
}

/*If reminder is deleted, the last reminder from list is added, so we skip transition*/
.reminder.ng-enter.reminder--last-add-remove {
  &:not(.reminder--loaded) {
    @include duration(0s !important);
    background-color: $white;
  }
}

.reminder.ng-enter-active.reminder--last-add-remove {
  &:not(.reminder--loaded) {
    @include duration(0s !important);
  }
}