.centered-section-reminders {
  max-width: $container-reminders-width;
  width: 96%;
  margin: 0 auto;
  min-height: $container-reminders-height;
  position: relative;
}

.form-group--search {
  max-width: 140px;
  position: absolute;
  top: 1px;
  right: 50px;

  input {
    border: 1px solid $white;
    border-radius: $border-radius-small;
  }
}

.reminders__header {
  position: absolute;
  right: 0;
  height: 34px;
  width: 34px;
}

.reminders__header__btn {
  display: block;
  position: fixed;
  background: $brand-primary url("../assets/img/add_reminder.png") no-repeat top left;
  background-size: 24px;
  background-position-x: 50%;
  background-position-y: 50%;
  height: 34px;
  width: 34px;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
  box-sizing: content-box;
  cursor: pointer;
  outline: none;
  padding: 0;
  pointer-events: auto;
  -webkit-user-drag: none;

  &:active {
    box-shadow: 0 0 8px rgba(0, 0, 0, .18), 0 8px 16px rgba(0, 0, 0, .36);
  }
}

.reminder__menu {
  z-index: 99999;
}

.reminder {
  border: solid 0 $white;
  border-radius: 3px;
  width: 100%;
  padding: 5px 10px;
  margin-bottom: 15px;
  position: relative;
  background-color: $white;
  @include transition(all 0.3s);
  min-height: 60px;
  height: 100%;

  &.reminder--owner:hover {
    cursor: pointer;
  }

  &:hover {
    outline: solid 3px $gray11;

    .reminder__title {
      color: $brand-primary;
    }
    .reminder__menu {
      opacity: 1;
    }
  }

  &__title {
    font-size: $font-size-large;
    @include transition(all 0.2s);
  }

  &__menu {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    text-align: right;
    @include transition(all 0.2s);

    &__option {
      display: inline-block;
      width: 30px;
      height: 25px;
      margin: 3px 5px;
      border-radius: 3px;

      &:hover {
        color: #000000;
      }

      span {
        display: block;
        margin: 0;
        font-size: 30px;
        text-align: center;
      }
    }
  }
}

.reminder__title {
  word-break: break-all;
  max-width: 90%;
  font-weight: bold;
}

.reminder__title--highlighted {
  display: inline-block;
  background: rgba(255, 230, 0, 0.5);
  padding: 1px 4px;
  border-radius: 3px;
  line-height: 1;
}