.reminder {
  opacity: 1;
}

.reminder.ng-enter {
  opacity: 1;
  background-color: #faffbd;
}

.reminder.ng-enter-active {
  background-color: #FFFFFF;
  opacity: 1;
  @include transition(all 1s 1s ease-in);
  @include bounceIn();
}

.reminder.ng-leave {
  background-color: lighten($brand-danger, 30%);
}

.reminder.ng-leave-active {
  @include bounceOutRight();
}

/*If new reminder is added, the last reminder from list is deleted, so we skip transition*/
.reminder.ng-leave-active.reminder--last-add-remove {
  @include duration(0s !important);
  display: none;
}

/*If reminders are added with load more, reminders should have different transitions*/
.reminder.ng-enter-active.reminder--loaded {
  @include fadeIn();
}