.reminder__info__item__icon {
  position: absolute;
  //margin-left: 15px;
}

.reminder__info__item__icon--user {
  right: 50px;
}

.reminder__info__item__icon--email {
  right: 10px;
}

.reminder__info {
  position: absolute;
  bottom: 5px;
  color: $gray8;
  font-weight: $font-weight-light;
  width: 100%;
  @include clearfix();
}

.reminder__info__item {
  position: relative;
  float: left;
  width: 33.33333%;
  min-height: 1px;
  //padding: 0 5px;

  span {
    vertical-align: middle;
  }

  &--date {
  }

  &--time {
    text-align: center;
  }

  &--additional {
    position: relative;
  }
}

.reminder__menu__option--update {
  color: $gray-light;

  &:hover {
    color: $gray;
  }
}

.reminder__menu__option--disabled {
  cursor: not-allowed;
}

.reminder__menu__option--delete {
  color: lighten($brand-danger, 15%);

  &:hover {
    color: $brand-danger;
  }
}