<div class="screen" ui-view></div>

<div class="about-and-footer" id="about-section">

    <div class="about container">

        <h2 class="about-title">Reme.IO is the fastest way you can create email reminders.</h2>
        <p class="about-subtitle">Free. No signup required. Instant.</p>

        <div class="faq">
            <div class="faq-question"># How can I add the reminder really fast?</div>
            <div class="faq-answer">
                You just need to use <strong>@</strong> for the date and time, as in the examples below:
                <ul class="faq-examples">
                    <li>Pay rent today <strong>@tomorrow 6pm</strong></li>
                    <li>Get ready for the concert <strong>@june 6 14:00</strong></li>
                    <li>Dentist today at 2 pm <strong>@next monday 8am</strong></li>
                    <li>Take a 30 minutes break <strong>@in 2 hours</strong></li>
                    <li>Renew the car insurance <strong>@next month</strong></li>
                    <li>My brother’s wedding in 2 weeks <strong>@22nd of next month</strong></li>
                </ul>
                <a href="https://remeio.reamaze.com/articles/what-are-the-valid-entries-for-natural-language-processing" target="_blank">See more examples.</a>
            </div>


            <div class="faq-question"># How do I make sure the notification email arrives in my inbox?</div>
            <div class="faq-answer">
                In rare cases some email providers may mark the reminder emails as spam. If you don't see a notification email in your inbox,
                make sure to also check the spam folder, or better, add <strong>no-reply@reme.io</strong> to your address book or contact list.
            </div>


            <div class="faq-question"># What timezone does Reme.IO use?</div>
            <div class="faq-answer">
                Each time you create or update a reminder your timezone is detected automatically based on the current time on your device.
                This means that Reme.IO can send you the reminder email in accordance with the timezone the reminder was created in.<br /><br />
                For example, if your timezone is <strong>Europe/Amsterdam (UTC+1:00)</strong>, and you schedule a reminder for <strong>June 22, 4pm</strong>,
                you will receive the reminder email at <strong>June 22, 4pm (UTC+1:00)</strong>. As simple as that.<br /><br />
                Reme.IO takes in consideration also daylight saving times, so you can forget about timezones. Reme.IO always adapts to you.
            </div>


            <div class="faq-question"># Is my e-mail address safe?</div>
            <div class="faq-answer">
                The email address you enter is used for the sole purpose of receiving the reminder e-mail. That’s it. No newsletters or other spam.
            </div>


            <div class="faq-question"># Can I rely on Reme.IO?</div>
            <div class="faq-answer">
                Reme.IO is using the industry standard service, Mandrill from MailChimp, on which more than 3 million people rely every month.
            </div>
        </div>
    </div>


    <div class="footer">
        <div class="footer-inner">

            <div class="footer-crafted">
                Crafted with passion by
                <a href="https://twitter.com/paptamas" target="_blank"><strong>@paptamas</strong></a>
                and
                <a href="https://twitter.com/sorinpantis" target="_blank"><strong>@sorinpantis</strong></a>
                in Cluj-Napoca, Romania.
            </div>

            <div class="footer-utils">
                <a href="mailto:hello@reme.io?Subject=Hi">Drop us a line</a> •
                <a href="https://s3.amazonaws.com/remeio/press-kit" target="_blank">Press Kit</a> •
                <a ui-sref="privacy">Privacy Policy</a>
            </div>

            <div class="footer-share">
                <span>Tell others about reme.io!</span>
                <div>
                    <a class="twitter bg-sprite" href="https://twitter.com/intent/tweet?source=webclient&text=Create%20email%20reminders%20in%20seconds%20with%20%40reme_io.%20It%27s%20free%20and%20no%20signup%20required.%20www.reme.io" target="_blank">Twitter</a>
                    <a class="facebook bg-sprite" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.reme.io?beta" target="_blank">Facebook</a>
                    <a class="google-plus bg-sprite" href="https://plus.google.com/share?url=http%3A%2F%2Fwww.reme.io?beta" target="_blank" rel="publisher">Google+</a>
                </div>
            </div>

        </div>
    </div>

</div>

<!-- Bookmark -->
<a href="http://reme.io" class="bookmark bg-sprite visible-lg visible-md" tooltip="Drag this to the bookmarks bar (or press Ctrl + D) to save it for later." tooltip-placement="bottom">Reme.IO</a>