<!--Reminder list is empty-->
<div class="reminder__empty empty-state--text" ng-if="reminders.length === 0">
    You have no reminders. Don't be shy, go ahead and create one! :)
    <span class="reminder__empty__arrow">Arrow</span>
</div>

<!--Reminder list-->
<div class="reminder" ng-repeat="reminder in reminders | orderObjectBy : 'dueOn' : true">

    <!--Reminder title-->
    <div class="reminder__title">
        {{reminder.model.text}}
    </div>

    <!--Reminder edit/delete-->
    <div class="reminder__menu">
        <a class="reminder__menu__option reminder__menu__option--update simptip-position-top simptip-fade simptip-smooth" data-tooltip="Edit reminder" ng-if="reminder.isCreatedBy(currentUserEmail)" href="#" ng-click="openUpdateReminderModalService(reminder)"><span class="icon-pencil"></span></a>
        <a class="reminder__menu__option reminder__menu__option--complete" href="#"><span class="icon-checkmark"></span></a>
        <a class="reminder__menu__option reminder__menu__option--delete simptip-position-top simptip-fade simptip-smooth" data-tooltip="Delete reminder" href="#" ng-click="reminder.isCreatedBy(currentUserEmail) ? openDeleteReminderModalService(reminder) : openUnSubscribeReminderModalService(reminder)"><span class="icon-trash"></span></a>
    </div>

    <!--Reminder info-->
    <div class="reminder__info">

        <!--Reminder date-->
        <div class="reminder__info__item reminder__info__item--date">
            <span class="icon-calendar"></span>
            {{reminder.model.dueOn | friendlyDate}}
        </div>

        <!--Reminder hour-->
        <div class="reminder__info__item reminder__info__item--time">
            <span class="icon-clock"></span>
            {{reminder.model.dueOn | friendlyHour}}
        </div>

        <!--Reminder icons-->
        <div class="reminder__info__item reminder__info__item--additional">
            <div class="reminder__info__item__icon reminder__info__item__icon--user">
                <span ng-if="! reminder.isCreatedBy(currentUserEmail)" class="simptip-position-bottom simptip-fade simptip-smooth simptip-multiline" data-tooltip="Created by: {{reminder.model.createdByUser.firstName}} {{reminder.model.createdByUser.lastName}} {{reminder.model.createdByUser.email}}">
                    <span class="icon-user"></span>
                </span>
            </div>
            <div class="reminder__info__item__icon reminder__info__item__icon--email">
                <span ng-if="reminder.isManyRecipients()" class="simptip-position-bottom simptip-fade simptip-smooth simptip-multiline" data-tooltip="Recipients: {{reminder.model.recipients | friendlyRecipients}}">
                    <span class="icon-email"></span>
                </span>
            </div>
        </div>
    </div>

</div>

<div ng-if="isStillRemindersToBeLoaded()" class="load-more-reminders">
    <button type="submit" ladda="isLoadingMore" data-style="expand-left" data-spinner-size="20" class="btn btn--load-more" ng-click="loadMoreReminders()">LOAD MORE</button>
</div>