<div class="screen">
    <div class="reminder-saved-container">
        <span class="text-muted">Here's your reminder:</span>

        <div class="reminder-summary container container-small box">
            <a ui-sref="update.form({secureId: reminder.attributes.secure_id})">Edit</a>
            <span class="bg-sprite icon-saved"></span>
            <div class="text">{{reminder.attributes.text}}</div>
            <div class="date">{{reminder.attributes.due_on.format("{Weekday}, {d} {Month} {yyyy} at {hh}:{mm} {tt}")}}</div>
            <div class="recipient">{{reminder.attributes.created_by}}</div>
            <div class="recipient" ng-repeat="addressee in reminder.attr('additional_addressees') track by $index">
                {{addressee}}
            </div>
        </div>
    </div>
</div>