<!--Reminder list is empty-->
<div class="reminder__empty empty-state--text" ng-class="{'reminder__empty--revived':firstReminderCreated}" ng-if="isReminderListEmpty">
    You have no reminders. Don't be shy, go ahead and create one! :)
</div>

<!--Search in reminder list-->
<div class="form-group form-group--search">
    <input class="form-control" type="text" placeholder="Search" name="text" maxlength="140" ng-model="searchByText" />
</div>

<!--Reminder list-->
<div class="reminder"
     ng-click="openUpdateReminderModalService(reminder, $index)"
     ng-class="{ 'reminder--first': $first,
                 'reminder--removed': removedReminderIndex === $index,
                 'reminder--loaded': $index > defaultRemindersLimit - 1 ,
                 'reminder--last': $index === remindersLimit - 1,
                 'reminder--filter-activated': isSearchByActivated(),
                 'reminder--owner': reminder.isCreatedBy(currentUserEmail) }"
     ng-repeat="reminder in reminders | orderObjectBy : 'dueOn' : true | limitTo:remindersLimit | filter:{model:{text:searchByText}} as filteredReminders">

    <!--Reminder title-->
    <div class="reminder__title" ng-bind-html="reminder.model.text | highlightSearch:searchByText"></div>

    <!--Reminder edit/delete-->
    <div class="reminder__menu">
        <a class="reminder__menu__option reminder__menu__option--delete simptip-position-top simptip-fade simptip-smooth" data-tooltip="Delete reminder" href="#" ng-click="reminder.isCreatedBy(currentUserEmail) ? openDeleteReminderModalService(reminder, $index) : openUnSubscribeReminderModalService(reminder, $index); $event.stopPropagation();"><span class="icon-trash"></span></a>
    </div>

    <!--Reminder info-->
    <div class="reminder__info">

        <!--Reminder date-->
        <div class="reminder__info__item reminder__info__item--date">
            <span class="icon-calendar"></span>
            {{reminder.model.dueOn | friendlyDate}}
        </div>

        <!--Reminder hour-->
        <div class="reminder__info__item reminder__info__item--time">
            <span class="icon-clock"></span>
            {{reminder.model.dueOn | friendlyHour}}
        </div>

        <!--Reminder icons-->
        <div class="reminder__info__item reminder__info__item--additional">
            <div class="reminder__info__item__icon reminder__info__item__icon--user">
                <span ng-if="! reminder.isCreatedBy(currentUserEmail)" class="simptip-position-bottom simptip-fade simptip-smooth simptip-multiline" data-tooltip="Created by: {{reminder.model.createdByUser.firstName}} {{reminder.model.createdByUser.lastName}} {{reminder.model.createdByUser.email}}">
                    <span class="icon-user"></span>
                </span>
            </div>
            <div class="reminder__info__item__icon reminder__info__item__icon--email">
                <span ng-if="reminder.isManyRecipients()" class="simptip-position-bottom simptip-fade simptip-smooth simptip-multiline" data-tooltip="Recipients: {{reminder.model.recipients | friendlyRecipients}}">
                    <span class="icon-email"></span>
                </span>
            </div>
        </div>
    </div>

</div>

<div ng-if="filteredReminders.length >= defaultRemindersLimit && isStillRemindersToBeLoaded()" class="load-more-reminders">
    <button type="submit" ladda="isLoadingMore" data-style="expand-left" data-spinner-size="20" class="btn btn--load-more" ng-click="loadMoreReminders()">LOAD MORE</button>
</div>