<div class="screen">
    <div class="reminder-saved-container">
        <span class="text-muted">Here's your reminder:</span>

        <div class="reminder-summary container container-small box">
            <a ui-sref="update.form({secureId: reminder.attributes.secure_id})">Edit</a>
            <span class="bg-sprite icon-saved"></span>
            <div class="text">{{reminder.attributes.text}}</div>
            <div class="date">{{reminder.attributes.due_on.format("{Weekday}, {d} {Month} {yyyy} at {hh}:{mm} {tt}")}}</div>
            <div class="recipient">{{reminder.attributes.created_by}}</div>
            <div class="recipient" ng-repeat="addressee in reminder.attr('additional_addressees') track by $index">
                {{addressee}}
            </div>
        </div>

        <div class="utility-links">
            <a ui-sref="create.form" class="utility-link">New reminder</a>
            <span class="separator">&#8226;</span>
            <a href="#" class="utility-link" ng-click="openFeedbackModal()">Feedback</a>
            <span class="separator">&#8226;</span>
            <div class="utility-link dropdown dropdown-social">
                <a href="#" class="dropdown-toggle">Follow <span class="carret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="https://twitter.com/reme_io" target="_blank" class="twitter bg-sprite">Twitter</a></li>
                    <li class="divider"></li>
                    <li><a href="https://www.facebook.com/reme.io" target="_blank" class="facebook bg-sprite">Facebook</a></li>
                    <li class="divider"></li>
                    <li><a href="https://plus.google.com/112681489216240842366" target="_blank" class="google-plus bg-sprite" rel="publisher">Google+</a></li>
                </ul>
            </div>
            <span class="separator">&#8226;</span>
            <div class="utility-link dropdown dropdown-social">
                <a href="#" class="dropdown-toggle">Share <span class="carret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="https://twitter.com/intent/tweet?source=webclient&text=Create%20email%20reminders%20in%20seconds%20with%20%40reme_io.%20It%27s%20free%20and%20no%20signup%20required.%20www.reme.io" target="_blank" class="twitter bg-sprite">Twitter</a></li>
                    <li class="divider"></li>
                    <li><a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.reme.io" target="_blank" class="facebook bg-sprite">Facebook</a></li>
                    <li class="divider"></li>
                    <li><a href="https://plus.google.com/share?url=http%3A%2F%2Fwww.reme.io" target="_blank" class="google-plus bg-sprite">Google+</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Bookmark -->
<a href="http://reme.io" class="bookmark bg-sprite visible-lg visible-md" tooltip="Drag this to the bookmarks bar (or press Ctrl + D) to save it for later." tooltip-placement="bottom">Reme.IO</a>